// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2026.1.0.37.0
// Netlist written on Tue Sep 15 14:43:43 2026
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/thanderson/documents/github/e155-lab2/fpga/radiant_project/lab2_ai/source/impl_1/seven_seg_mux.sv"
// file 1 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.v"
// file 2 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.vhd"
// file 3 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc.v"
// file 4 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_distributed_ram.v"
// file 5 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_ecc.v"
// file 6 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_flag_and_cnts_logic.v"
// file 7 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_reg.v"
// file 8 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_synchronizer.v"
// file 9 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden.v"
// file 10 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_prim.v"
// file 11 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_ctrl_logic.v"
// file 12 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_output_logic.v"
// file 13 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_ring_counter.v"
// file 14 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_wr_ctrl_logic.v"
// file 15 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_prim_gen.v"
// file 16 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_rd_ctrl_logic.v"
// file 17 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_wr_ctrl_logic.v"
// file 18 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp.v"
// file 19 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_behavioral.v"
// file 20 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_functions.vh"
// file 21 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_impl.v"
// file 22 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_lut_decode.v"
// file 23 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_decoder.v"
// file 24 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_encoder.v"
// file 25 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq.v"
// file 26 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq_lut_decode.v"
// file 27 "c:/lscc/radiant/2026.1/ip/common/adder/rtl/lscc_adder.v"
// file 28 "c:/lscc/radiant/2026.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 29 "c:/lscc/radiant/2026.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 30 "c:/lscc/radiant/2026.1/ip/common/counter/rtl/lscc_cntr.v"
// file 31 "c:/lscc/radiant/2026.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 32 "c:/lscc/radiant/2026.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 33 "c:/lscc/radiant/2026.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 34 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 35 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 36 "c:/lscc/radiant/2026.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 37 "c:/lscc/radiant/2026.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 38 "c:/lscc/radiant/2026.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 39 "c:/lscc/radiant/2026.1/ip/common/rom/rtl/lscc_rom.v"
// file 40 "c:/lscc/radiant/2026.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 41 "c:/lscc/radiant/2026.1/ip/pmi/pmi_add.v"
// file 42 "c:/lscc/radiant/2026.1/ip/pmi/pmi_addsub.v"
// file 43 "c:/lscc/radiant/2026.1/ip/pmi/pmi_complex_mult.v"
// file 44 "c:/lscc/radiant/2026.1/ip/pmi/pmi_counter.v"
// file 45 "c:/lscc/radiant/2026.1/ip/pmi/pmi_dsp.v"
// file 46 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo.v"
// file 47 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo_dc.v"
// file 48 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mac.v"
// file 49 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mult.v"
// file 50 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsub.v"
// file 51 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsubsum.v"
// file 52 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp.v"
// file 53 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp_be.v"
// file 54 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq.v"
// file 55 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq_be.v"
// file 56 "c:/lscc/radiant/2026.1/ip/pmi/pmi_rom.v"
// file 57 "c:/lscc/radiant/2026.1/ip/pmi/pmi_sub.v"
// file 58 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 59 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 60 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 61 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 62 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 63 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 64 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 65 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 66 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 67 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 68 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 69 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 70 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 71 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 72 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 73 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 74 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 75 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 76 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/legacy.v"

//
// Verilog Description of module seven_seg_mux
//

module seven_seg_mux (input clk, input [3:0]in0, input [3:0]in1, output [6:0]seg0, 
            output [6:0]seg1);
    
    (* is_clock=1 *) wire clk_c;
    wire [3:0]in0_c;
    wire [3:0]in1_c;
    wire [6:0]seg0_c;
    wire [6:0]seg1_c;
    wire select;
    wire [3:0]digit;
    wire [6:0]decoded_seg;
    
    wire GND_net, VCC_net, select_N_15;
    
    VHI i2 (.Z(VCC_net));
    VLO i264 (.Z(GND_net));
    (* lut_function="(!(A (B ((D)+!C)+!B !((D)+!C))+!A (B+(C+!(D)))))" *) LUT4 decoded_seg_1__I_0_2_4_lut (.A(digit[0]), 
            .B(digit[3]), .C(digit[2]), .D(digit[1]), .Z(decoded_seg[1]));
    defparam decoded_seg_1__I_0_2_4_lut.INIT = "0x2382";
    (* lut_function="(A+(B))" *) LUT4 i150_2_lut (.A(decoded_seg[1]), .B(select), 
            .Z(seg0_c[1]));
    defparam i150_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))" *) LUT4 decoded_seg_2__I_0_2_4_lut (.A(digit[1]), 
            .B(digit[3]), .C(digit[0]), .D(digit[2]), .Z(decoded_seg[2]));
    defparam decoded_seg_2__I_0_2_4_lut.INIT = "0x3170";
    (* lut_function="(A+(B))" *) LUT4 i145_2_lut (.A(decoded_seg[6]), .B(select), 
            .Z(seg0_c[6]));
    defparam i145_2_lut.INIT = "0xeeee";
    FD1P3XZ select_c (.D(select_N_15), .SP(VCC_net), .CK(clk_c), .SR(GND_net), 
            .Q(select));
    defparam select_c.REGSET = "RESET";
    defparam select_c.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B))" *) LUT4 i149_2_lut (.A(decoded_seg[2]), .B(select), 
            .Z(seg0_c[2]));
    defparam i149_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B (C (D))+!B (C (D)+!C !(D)))+!A !(B (C+!(D))+!B ((D)+!C)))" *) LUT4 decoded_seg_3__I_0_2_4_lut (.A(digit[0]), 
            .B(digit[3]), .C(digit[2]), .D(digit[1]), .Z(decoded_seg[3]));
    defparam decoded_seg_3__I_0_2_4_lut.INIT = "0xa412";
    (* lut_function="(A+(B))" *) LUT4 i148_2_lut (.A(decoded_seg[3]), .B(select), 
            .Z(seg0_c[3]));
    defparam i148_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))" *) LUT4 decoded_seg_4__I_0_2_4_lut (.A(digit[0]), 
            .B(digit[3]), .C(digit[1]), .D(digit[2]), .Z(decoded_seg[4]));
    defparam decoded_seg_4__I_0_2_4_lut.INIT = "0xc410";
    IB clk_pad (.I(clk), .O(clk_c));
    IB \in0_pad[3]  (.I(in0[3]), .O(in0_c[3]));
    IB \in0_pad[2]  (.I(in0[2]), .O(in0_c[2]));
    IB \in0_pad[1]  (.I(in0[1]), .O(in0_c[1]));
    IB \in0_pad[0]  (.I(in0[0]), .O(in0_c[0]));
    IB \in1_pad[3]  (.I(in1[3]), .O(in1_c[3]));
    IB \in1_pad[2]  (.I(in1[2]), .O(in1_c[2]));
    IB \in1_pad[1]  (.I(in1[1]), .O(in1_c[1]));
    IB \in1_pad[0]  (.I(in1[0]), .O(in1_c[0]));
    OB \seg0_pad[6]  (.I(seg0_c[6]), .O(seg0[6]));
    OB \seg0_pad[5]  (.I(seg0_c[5]), .O(seg0[5]));
    OB \seg0_pad[4]  (.I(seg0_c[4]), .O(seg0[4]));
    OB \seg0_pad[3]  (.I(seg0_c[3]), .O(seg0[3]));
    OB \seg0_pad[2]  (.I(seg0_c[2]), .O(seg0[2]));
    (* lut_function="(A+(B))" *) LUT4 i147_2_lut (.A(decoded_seg[4]), .B(select), 
            .Z(seg0_c[4]));
    defparam i147_2_lut.INIT = "0xeeee";
    OB \seg0_pad[1]  (.I(seg0_c[1]), .O(seg0[1]));
    OB \seg0_pad[0]  (.I(seg0_c[0]), .O(seg0[0]));
    (* lut_function="(A (B (C+(D))+!B !((D)+!C))+!A !(B ((D)+!C)+!B !(C (D))))" *) LUT4 decoded_seg_5__I_0_2_4_lut (.A(digit[1]), 
            .B(digit[3]), .C(digit[2]), .D(digit[0]), .Z(decoded_seg[5]));
    defparam decoded_seg_5__I_0_2_4_lut.INIT = "0x98e0";
    (* lut_function="(A+(B))" *) LUT4 i146_2_lut (.A(decoded_seg[5]), .B(select), 
            .Z(seg0_c[5]));
    defparam i146_2_lut.INIT = "0xeeee";
    OB \seg1_pad[6]  (.I(seg1_c[6]), .O(seg1[6]));
    OB \seg1_pad[5]  (.I(seg1_c[5]), .O(seg1[5]));
    OB \seg1_pad[4]  (.I(seg1_c[4]), .O(seg1[4]));
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 in0_c_0__I_0_3_lut (.A(in0_c[0]), 
            .B(in1_c[0]), .C(select), .Z(digit[0]));
    defparam in0_c_0__I_0_3_lut.INIT = "0xcaca";
    OB \seg1_pad[3]  (.I(seg1_c[3]), .O(seg1[3]));
    OB \seg1_pad[2]  (.I(seg1_c[2]), .O(seg1[2]));
    OB \seg1_pad[1]  (.I(seg1_c[1]), .O(seg1[1]));
    OB \seg1_pad[0]  (.I(seg1_c[0]), .O(seg1[0]));
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 in0_c_3__I_0_3_lut (.A(in0_c[3]), 
            .B(in1_c[3]), .C(select), .Z(digit[3]));
    defparam in0_c_3__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 in0_c_1__I_0_3_lut (.A(in0_c[1]), 
            .B(in1_c[1]), .C(select), .Z(digit[1]));
    defparam in0_c_1__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 in0_c_2__I_0_3_lut (.A(in0_c[2]), 
            .B(in1_c[2]), .C(select), .Z(digit[2]));
    defparam in0_c_2__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A))" *) LUT4 i5_1_lut (.A(select), .Z(select_N_15));
    defparam i5_1_lut.INIT = "0x5555";
    (* lut_function="(A+(B))" *) LUT4 i122_2_lut (.A(decoded_seg[0]), .B(select_N_15), 
            .Z(seg1_c[0]));
    defparam i122_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))" *) LUT4 i144_2_lut (.A(decoded_seg[1]), .B(select_N_15), 
            .Z(seg1_c[1]));
    defparam i144_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))" *) LUT4 i143_2_lut (.A(decoded_seg[2]), .B(select_N_15), 
            .Z(seg1_c[2]));
    defparam i143_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))" *) LUT4 i142_2_lut (.A(decoded_seg[3]), .B(select_N_15), 
            .Z(seg1_c[3]));
    defparam i142_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))" *) LUT4 i141_2_lut (.A(decoded_seg[4]), .B(select_N_15), 
            .Z(seg1_c[4]));
    defparam i141_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))" *) LUT4 i139_2_lut (.A(decoded_seg[5]), .B(select_N_15), 
            .Z(seg1_c[5]));
    defparam i139_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A !(B (C (D))+!B !(C+!(D)))))" *) LUT4 decoded_seg_6__I_0_2_4_lut (.A(digit[2]), 
            .B(digit[1]), .C(digit[3]), .D(digit[0]), .Z(decoded_seg[6]));
    defparam decoded_seg_6__I_0_2_4_lut.INIT = "0x6102";
    (* lut_function="(A+(B))" *) LUT4 i137_2_lut (.A(decoded_seg[6]), .B(select_N_15), 
            .Z(seg1_c[6]));
    defparam i137_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))" *) LUT4 digit_3__I_0_4_lut (.A(digit[1]), 
            .B(digit[0]), .C(digit[3]), .D(digit[2]), .Z(decoded_seg[0]));
    defparam digit_3__I_0_4_lut.INIT = "0x1805";
    (* lut_function="(A+(B))" *) LUT4 i121_2_lut (.A(decoded_seg[0]), .B(select), 
            .Z(seg0_c[0]));
    defparam i121_2_lut.INIT = "0xeeee";
    
endmodule
